chapter18/src/main/resources/xsd/sampledb2.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="sampledb2" targetNamespace="sampledb2">
	<xsd:element name="dbmaintain_scripts" type="dbmaintain_scripts__type" />
	<xsd:complexType name="dbmaintain_scripts__type">
		<xsd:attribute name="succeeded" use="optional" />
		<xsd:attribute name="file_last_modified_at" use="optional" />
		<xsd:attribute name="executed_at" use="optional" />
		<xsd:attribute name="checksum" use="optional" />
		<xsd:attribute name="file_name" use="optional" />
		<xsd:attribute name="version" use="optional" />
	</xsd:complexType>
</xsd:schema>
